.container#schedule-div
  .row
    .span3
      %h1 Schedule
      %small= channel.name
      %br
      %br
      %img{:src => "/media/images/#{channel.logo.id}"}
      .sidebar
        .well{'role' => 'navigation'}
          %ul.nav.nav-list
            %li.nav-header
              Options
            %li
              %a{:href => "?when=" + next_day.to_s}
                %i.icon-forward
                Next Day
            %li
              %a{:href => "?when=" + prev_day.to_s}
                %i.icon-backward
                Previous Day
            %li
              %a.home{:href => '/admin' }
                %i.icon-arrow-left
                Back to Channels
    .span3
      %h2= day.strftime("%e %a %b %G")
    .span9.container
      %table.table.table-bordered
        %thead
          %th
            Start Time
          %th
            End Time
          %th
            Show
          %th
            Promo
        %tbody
          -if schedule.empty?
            %tr
              %td{:colspan => 4}
                No Shows Scheduled for Today
          -else
            - schedule.each do |show|
              %tr
                %td.span2
                  = show.start_time.localtime.strftime("%r")
                %td.span2
                  = show.end_time.localtime.strftime("%r")
                %td.span3
                  = show.show.name
                %td
                  = (show.promo_text.nil? || show.promo_text.empty?) ? show.show.description : show.promo_text