.container#schedule-div
  .row
    .span12
      %h1 Schedule
      %small= channel.name
      %br
      %br
  .row
    .span2.sidebar
      .well{'role' => 'navigation'}
        %ul.nav.nav-list
          %li.nav-header
            Options
          %li
            %a.home{:href => '/admin' }
              %i.icon-arrow-left
              Back
    .span9.container
      %table.table.table-bordered
        %thead
          %th
            Start Time
          %th
            End Time
          %th
            Show
          %th
            Promo
        %tbody
          -if schedule.empty?
            %tr
              %td{:colspan => 4}
                No Shows Scheduled for Today
          -else
            - schedule.each do |show|
              %tr
                %td.span2
                  = show.start_time.strftime("%r")
                %td.span2
                  = show.end_time.strftime("%r")
                %td.span3
                  = show.show.name
                %td
                  = (show.promo_text.nil? || show.promo_text.empty?) ? show.show.description : show.promo_text