#channelComplete{:class => 'carousel slide'}
  .carousel-inner
    - channel_complete.each do |data|
      .item
        .channel-div{'id' => data['channel'].id}
          %h3#guide-channel-name
            = data['channel'].code
          - if data['shows'].empty?
            No Scheduled Shows
          - else
            %table.table-striped
              - data['shows'].each_with_index do |show, index|
                %tr
                  %td.span11
                    - if show.nil?
                      N/A
                    - else
                      %a{:href => "#" + show.show.id}
                        - if index == 0 || index == 1
                          %h3
                            = show.start_time.localtime.strftime("%R") + " - " + show.end_time.localtime.strftime("%R")
                          %h3
                            = show.show.name
                        - else
                          %h6
                            = show.start_time.localtime.strftime("%R") + " - " + show.end_time.localtime.strftime("%R")
                          %h6
                            = show.show.name
  .carousel-control{:class => 'left', :href => "#channelComplete", "data-slide" => "prev"} &lsaquo;
  .carousel-control{:class => 'right', :href => "#channelComplete", "data-slide" => "next"} &rsaquo;


:javascript
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: false
      })
    });