!!! 5
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}
    %link{'rel' => 'shortcut icon', 'href' => '/images/favicon.ico'}
    %script{:type => "application/javascript", :src => "http://code.jquery.com/jquery-1.7.2.min.js"}
    = css :mobile
    - if type == "embedded"
      = css :embed
    %title
      TiVi | Kenya Free Television Guide
  %body
    = yield
    = js :mobile
    - if type == "embedded"
      = js :iframe
