!!! 5
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}
    %link{'rel' => 'shortcut icon', 'href' => '/images/favicon.ico'}
    = js :jquery
    = css :mobile
    - if type == "embedded"
      = css :embed

    = js :app
    %title
      TiVi | Kenya Free Television Guide
  %body
    = yield
    = js :mobile
    - if type == "embedded"
      = js :iframe
