#guide-div
  #channels-div{'data-role' => 'page'}
    #channels-header-div{'data-role' => 'header'}
      %h1 TiVi Guide
    #channels-content-div{'data-role' => 'content'}
      - if channel_summary.empty?
        No channels in database
      - else
        %ul{'data-role' => 'listview'}
          - channel_summary.each do |data|
            %li
              %a{:href => "#" + data['channel'].id}

                - if data['channel'].logo.nil?
                  %img{'src' => '/images/logo.png'}
                - else
                  %img{:src => "/media/images/#{data['channel'].logo.id}"}

                - if data['shows'].empty?
                  No Scheduled Shows
                - else
                  - data['shows'].each do |show|
                    - if show.nil?
                      N/A
                    - else
                      %h3
                        = show.show.name
                      %p
                        = show.start_time.localtime.strftime("%R") + " - " + show.end_time.localtime.strftime("%R")
  - channel_complete.each do |data|
    .channel-div{'id' => data['channel'].id, 'data-role' => 'page'}
      .channel-header-div{'data-role' => 'header'}
        %h1
          = data['channel'].code
      .channel-content-div{'data-role' => 'content'}
        - if data['shows'].empty?
          No Scheduled Shows
        - else
          %ul{'data-role' => 'listview'}
            - data['shows'].each do |show|
              - if show.nil?
                N/A
              - else
                %li
                  %a{:href => "#" + show.show.id, 'class' => 'show-link'}
                    .ui-grid-a
                      .time-div{'class' => 'ui-block-a'}
                        %h3
                          = show.start_time.localtime.strftime("%R") + " - " + show.end_time.localtime.strftime("%R")
                      .name-div{'class' => 'ui-block-b'}
                        %h3
                          = show.show.name
    - data['shows'].each do |show|
      - if !show.nil?
        .show-div{'id' => show.show.id, 'data-role' => 'page'}
          .show-header-div{'data-role' => 'header'}
            %h1
              = show.show.name
          .show-content-div{'data-role' => 'content'}
            %img{'src' => '/images/logo.png'}
            %p
              = (show.promo_text.nil? || show.promo_text.empty?) ? show.show.description : show.promo_text
